@ViewBag.Message
<script>
      $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>
<div class="container">
    <div class="row">
        <div class="col s3">
            <img src="~/Content/img/block1.jpg" class="responsive-img materialboxed" />
        </div>
        <div class="col s3">
            <img src="~/Content/img/block2.jpg" class="responsive-img materialboxed" />
        </div>
        <div class="col s3">
            <img src="~/Content/img/block3.jpg" class="responsive-img materialboxed" />
        </div>
        <div class="col s3">
            <img src="~/Content/img/block1.jpg" class="responsive-img materialboxed" />
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <img src="~/Content/img/block1.jpg" class="responsive-img materialboxed" />
        </div>
        <div class="col s3">
            <img src="~/Content/img/block2.jpg" class="responsive-img materialboxed" />
        </div>
        <div class="col s3">
            <img src="~/Content/img/block3.jpg" class="responsive-img materialboxed" />
        </div>
        <div class="col s3">
            <img src="~/Content/img/block1.jpg" class="responsive-img materialboxed" />
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <img src="~/Content/img/block1.jpg" class="responsive-img materialboxed" />
        </div>
        <div class="col s3">
            <img src="~/Content/img/block2.jpg" class="responsive-img materialboxed" />
        </div>
        <div class="col s3">
            <img src="~/Content/img/block3.jpg" class="responsive-img materialboxed" />
        </div>
        <div class="col s3">
            <img src="~/Content/img/block1.jpg" class="responsive-img materialboxed" />
        </div>
    </div>
</div>